<body>
  
  <!-- chartjs -->
  <script src="/js/chart.js/dist/Chart.js"></script>
  <script src="/js/chart.js/samples/utils.js"></script>
  
  
  <div class="result-div">
    <section class="panel">
      <header class="panel-heading">
      </header>
      <div class="panel-body text-center">
        <canvas id="bar" height="450" width="600" style="width: 500px; height: 300px;"></canvas>
      </div>
    </section>
    <% if admin? %>
    <form action='/do_activity' method='post'>
      <select class="dropdown_activate" id="dropdown_activate" name="do_activity" required>
      </select>
      <button type='submit' class='btn btn-primary'>Unternehmung!</button>
    </form>
    <% end %>
  </div>
  <script>
  
  var myArray = '<%= activated? %>';
  for(i=0; i<myArray.length; i++) {
    
  }
  
  
  var activity_labels= [];
  var myData = [];
  var bgColors = [];
  var HashTable = new Object();
  
  <% VotingTable.sort_by { |x| x.first.downcase }.each_with_index do |(activity, values),index| %>
    activity_labels.push('<%= activity %>');
    myData.push("<%= values['votes'].count %>");
    var select = document.getElementById("dropdown_activate");
    if (select !== null )  { select.options[select.options.length] = new Option('<%= activity %> (<%= values['votes'].count %>)', '<%= activity %>'); }
    bgColors.push(getRandomColor());
    HashTable['<%= activity %>'] = new Array();
    <% values['location'].each do |locations| %>
      var _count = parseInt("<%= values['location'].count %>");
      <% locations.each do |location, infos| %>
        var dispStr = (_count > 1) ? "<%= location %> :\t<%= infos['votes'].count %>" :"<%= location %>";
        HashTable['<%= activity %>'].push(dispStr);
      <% end %>
    <% end %>
  <% end %>

  
  var barChartData = {
    labels : activity_labels,
    datasets : [
      {
        // backgroundColor: 'rgb(255, 99, 132)',
        backgroundColor: bgColors,
        borderColor: 'white',
        data : myData
      }
    ]
  };
  
  var barChart =        {
    type: 'bar',
    data: barChartData,
    options: {
      responsive: true,
      scales: {
        yAxes: [{
          ticks: {
            //max: 15,
            min: 0,
            stepSize: 1
          }
        }],
        xAxes: [{
          ticks: {
            maxRotation: 90,
            minRotation: 0
          }
        }]
      },
      legend: {
        display: false
      },
      tooltips: {
        enabled: true,
        mode: 'single',
        callbacks: {
          label: function(tooltipItems, data) { 
            var item=tooltipItems.xLabel;
            var multistringText = [];
            for (var i in HashTable[item]) {
              multistringText.push(HashTable[item][i])
            }
            return multistringText;
          }
        }
      },  
    } //options end
  } // barChart end
  
  var myLine = new Chart(document.getElementById("bar").getContext("2d"),barChart);
  
  </script>
</body>
