<html>
<body>
<div class="panel-group m-bot20" id="accordion">
    <% VotingTable.sort_by { |x| x.first.downcase }.each do |activity, values| %>
    <div class="panel panel-default accordion-toggle collapsed"  data-parent="#accordion">
    <div class="panel-heading">
      <ul class="voting_item">
          <li class="voting_item"><a href="#collapse<%= activity %>" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">
            <i class="fa fa-chevron-down"></i></a></li>
          <li class="voting_item">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= activity %>">
                <%= activity %>
              </a>
            </h4>
          </li>
          <li class="voting_item">
              <form action="delete_activity" method="post">
                  <button class="btn btn-primary" type="submit" name="delete_activity" value="<%= activity %>">
                  <i class="icon_trash"></i>
                </button>
              </form>
          </li> 
          <li class="voting_item">
            <label class="switch switch-slide">
              <input id="<%= activity %>" class="switch-input" type="checkbox" onclick="change_voting(this);"<%= getCheckedActivity(activity) %> >
                <span class="switch-label" data-on="Ja" data-off="Nein"></span>
                <span class="switch-handle"></span>
            </label>
        </li>
      </ul>
    </div>
    <div id="collapse<%= activity %>" class="panel-collapse collapse" style="height: auto;">
      <div class="panel-body">
        <%= values['desc'] %>
          <% values['location'].each do |locations| %>
            <% locations.each do |location, infos| %>
              <% if values['location'].length > 1 %>
                <div class="radio">
                  <label>
                    <input name="<%=activity%>_location" id="<%= location %>" value="<%= location %>" type="radio" onclick="change_location(this,'<%= activity %>');"<%= getCheckedLocation(location, activity) %>>
                    <%= location %>
                    <a href="http://<%= infos['url'] %>"><%= infos['url']%></a>
                  </label>
                </div>
              <% else %>
                <div>
                  <label>
                    <%= location %>
                    <a href="http://<%= infos['url'] %>"><%= infos['url']%></a>
                  </label>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <a class="btn btn-primary btn-location" type="button" onclick="window.location.href='/new_location?activity=<%= activity%>'"><span class="icon_plus"></span></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<a class="btn btn-primary" type="button" onclick="window.location.href='/new_activity'"><span class="icon_plus"></span></a>
</body>
</html>
